.title {
    font-weight: 600;
    font-size: 14px;
/*    background-position: 0 26px;*/
    line-height: 1;
}

.attribute table, th{
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5;
    margin: 18px 0;
}

.authors {
    text-align: left;
}

.institutes {
    text-align: center;
}

.time {
    text-align: right;
}

.description {
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    margin: 18px 0;
    text-align: justify;
}

.ratio {
    font-style: italic;
    font-weight: 700;
    line-height: 1.5;
    margin: 18px 0;
}

.projects {
    margin-bottom: 0px;
}

.projects th, td {
    padding: 0px 0px 18px 18px;
}

.projects img {
    width: 256px;
    height: 192px;
}

.project {
    font-weight: 700;
}

.current img{
    width: 750px;
}

@media (max-width: 850px) {
    .current img {
        width: 600px;
    }
}

@media (max-width: 650px) {
    .current img {
        width: 400px;
    }
}

@media (max-width: 500px) {
    .current img {
        width: 400px;
        margin: 0 50px;
    }
}

.current a{
    color: #333;
}

.current a:hover{
    color: #EAAA00;
}

.honors ul{
    list-style-type: square;
    list-style-position: inside;
}

.honors li{
    margin-bottom: 10px;
}

.year{
    float: right;
}

.honordisp{
    font-style: italic;
    color: #666;
    font-size: 14px;
}